alabaster==0.7.10
altgraph==0.15
auto-sklearn==0.3.0
Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
ConfigSpace==0.4.6
cycler==0.10.0
Cython==0.28.1
deap==1.2.2
docutils==0.14
future==0.16.0
grpcio==1.10.0
grpcio-tools==1.10.0
idna==2.6
imagesize==1.0.0
Jinja2==2.10
joblib==0.11
kiwisolver==1.0.1
liac-arff==2.2.1
lockfile==0.12.2
macholib==1.9
MarkupSafe==1.0
matplotlib==2.2.2
nose==1.3.7
numpy==1.14.2
packaging==17.1
pandas==0.22.0
pandas-profiling==1.4.1
pefile==2017.11.5
protobuf==3.5.2.post1
psutil==5.4.3
Pygments==2.2.0
PyInstaller==3.3.1
pymongo==3.6.1
pymssql==2.1.3
pynisher==0.4.2
pyparsing==2.2.0
pyrfr==0.7.4
python-dateutil==2.7.1
pytz==2018.3
PyYAML==3.12
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
smac==0.8.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.5
stopit==1.1.2
TPOT==0.9.2
tqdm==4.19.9
typing==3.6.4
update-checker==0.16
urllib3==1.24.2
uuid==1.30
